<div class="container">
  <h1>100 Days of CSS: No.6</h1>
  <div class="background">

  <article class="profile">
    <div class="column-left">
      <div class="profile-pic-wrapper">
        <div class="circle">
          <img src="../assets/profile_img.png">
        </div>
        <p class="profile-name">Jon Steele</p>
        <p class="profile-job">Street Sweeper</p>
      </div>
      <div class="profile-btns-wrapper">
        <button>Follow</button>
        <button>Message</button>
      </div>

    </div>
    <div class="column-right">
      <div class="button">
        <p class="number">523</p>
        <p class="label">Posts</p>
      </div>
      <div class="button">
        <p class="number">1387</p>
        <p class="label">Likes</p>
      </div>
      <div class="button">
        <p class="number">146</p>
        <p class="label">Followers</p>
      </div>
    </div>

  </article>

  </div>
</div>
