/* You can add global styles to this file, and also import other style files */
body, html {
  /* border: 1px solid pink; */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

// html {
//   /* border: 1px solid pink; */
//   height: 100%;
// }

* {
  box-sizing: border-box;
}




